<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="~{fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments :: main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments :: top-search}"></div>
<!-- End Top Search -->

<section id="register-form">
  <div class="noi-dung">
    <div class="form">
      <h2>Register</h2>
      <form action="">
        <div class="input-form">
          <!-- <span>User name</span> -->
          <input type="text" placeholder="Name" name="">
        </div>
        <div class="input-form">
          <!-- <span>Password</span> -->
          <input type="password" placeholder="Password" name="">
        </div>
        <div class="input-form">
          <!-- <span>Password</span> -->
          <input type="password" placeholder="Verify password" name="">
        </div>
        <div class="input-form">
          <p>Do You Already Have An Account ? <a href="login.html"> Sign in now </a></p>
        </div>
        <div class="input-form">
          <input type="submit" value="Sign up">
        </div>
      </form>
      <h3>Log In With Social Network</h3>
      <ul class="icon-dang-nhap">
        <li><i class="fab fa-facebook-f"></i></i></li>
        <li><i class="fab fa-google"></i></li>
        <li><i class="fab fa-weibo"></i></li>
      </ul>
    </div>
  </div>

  <div>

  </div>


</section>

<!-- Start All Title Box -->
<div th:replace="~{fragments :: instagram-box}"></div>
<!-- End All Title Box -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments :: script}"></div>
</body>

</html>