<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="~{fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments :: main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments :: top-search}"></div>
<!-- End Top Search -->

<section id="register-form" class="d-flex justify-content-center">
  <div class="noi-dung">
    <div class="form">
      <h2 class="text-center">Register</h2>
      <form action="">
        <div class="input-form">
          <!-- <span>User name</span> -->
          <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Name</label>
          </div>
        </div>
        <div class="input-form">
          <!-- <span>Password</span> -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
          </div>
        </div>
        <div class="input-form">
          <!-- <span>Password</span> -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example3" class="form-control" />
            <label class="form-label" for="form2Example3">Verify password</label>
          </div>
        </div>
        <div class="input-form">
          <p>Do You Already Have An Account ? <a th:href="@{/login}"> Sign in now </a></p>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Sign Up</button>
      </form>

      <div class="text-center">
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>

        <p>Not a member? <a th:href="@{/register}">Register</a></p>

      </div>
    </div>
  </div>

  <div>

  </div>


</section>

<!-- Start All Title Box -->
<div th:replace="~{fragments :: instagram-box}"></div>
<!-- End All Title Box -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments :: script}"></div>
</body>

</html>